@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	/* overflow: hidden; */
}

body {
	min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
